fastapi
uvicorn[standard]
pydantic
pydantic-settings
pytest
httpx
sqlalchemy
psycopg2-binary
redis
kafka-python
ruff
mypy
PyJWT
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-redis
prometheus-client